# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Databases
*.db
*.sqlite3

# Environment variables
.env

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Flutter / Dart (frontend_flutter)
**/frontend_flutter/build/
**/frontend_flutter/.dart_tool/
**/frontend_flutter/.idea/
**/frontend_flutter/.metadata
**/frontend_flutter/*.iml
**/frontend_flutter/.flutter-plugins
**/frontend_flutter/.flutter-plugins-dependencies
**/frontend_flutter/.packages
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
*.iml